<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <form method="GET" action="/addStudent">
    <h2>Choose course:</h2>
    <span th:each="course : ${courseList}">
        <input type="radio" name="courseId" th:value="${course.getCourseId()}" />
        <th:block th:text="${course.getName()}"/><br/>
    </span>
    <br/>
    <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>